<!doctype html>
<html ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />         
    <title>AngularJS Service</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <style type="text/css">
      .phones {
        list-style: none;
      }

      .thumb {
        float: left;
        margin: -0.5em 1em 1.5em 0;
        padding-bottom: 1em;
        height: 100px;
        width: 100px;
      }

      .phones li {
        clear: both;
        height: 115px;
        padding-top: 15px;
      }
    </style>
  </head>
  <body ng-controller="AppCtrl">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <!--Sidebar content-->
          搜索: <input ng-model="query">
          排序:
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>
          <br>
          显示数量: <input type="number" ng-model="number">
        </div>
        <div class="col-md-10">
          <!--Body content-->
          <ul class="phones">
            <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
              <a href="" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
              <a href="">{{phone.name}}</a>
              <p>{{phone.snippet}}</p>
            </li>
          </ul>

        </div>
      </div>
    </div>

  </body>
</html>