<!doctype html>
<html ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>AngularJS Controller</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </head>
  <body>
    <div class="container" style="margin-top: 60px;">

      <div class="well" ng-controller="FirstCtrl">
        <strong>FirstCtrl 控制的页面区域</strong>
        <input type="text" class="form-control" ng-model="message">
        <p>
          从DataStore获得message: {{message}}
        </p>
        <p>
          <!-- 加入 todo -->
          从DataStore获得todo:
        </p>
      </div>

      <br>

      <div class="well" ng-controller="SecondCtrl">
        <strong>SecondCtrl 控制的页面区域</strong>
        <input type="text" class="form-control" ng-model="message">
        <p>
          从DataStore获得message: {{message}}
        </p>
        <p>
          <!-- 加入 todo -->
          也从DataStore获得todo:
        </p>
        </div>

    </div>
  </body>
</html>