<!doctype html>
<html ng-app>
  <head>
    <title>AngularJS Data Binding</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>
  </head>
  <body>
    <div class="container">
      <h3>Evaluate javascript expression</h3>
      
      <p>
        Math: {{2+2}}
      </p>

      <p>
        String concatnation: {{"hello "+"world"}}
      </p>

      <h3>Two-way data binding</h3>
      
      <div class="row">
        <div class="col-xs-4">
          <input type="text" class="form-control" ng-model="firstName" placeholder="Please enter first name">
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control" ng-model="lastName" placeholder="Please enter last name">
        </div>
      </div>

      <h3>Hello {{firstName}} <span ng-bind="lastName"></span></h3>
    </div>
  </body>
</html>